body {
  font-family: "Kumbh Sans";
  margin: auto;
  padding: 0;
}
h2 {
  font-family: Kumbh Sans;
  color: #333461;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
}
h3 {
  font-family: Kumbh Sans;
  color: #333461;
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
nav {
  font-family: Kumbh Sans, sans-serif;
  background-color: #ffffff;
  color: #333461;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 20px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  color: #4a556c;
  cursor: pointer;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: right;
}

button {
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  background-color: #20ad96;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1d8b7a;
}

@media screen and (max-width: 768px) and (min-width: 230px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Hero start */
.hero {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space out items */
  padding: 0 40px; /* Add padding on both sides */
  background-color: #faf8f6;
  border-radius: 5px;
}
.hero-left {
  flex: 1;
  padding: 20px;
}

.hero-right {
  flex: 1;
  padding: 20px;
}
.hero-right-img {
  position: absolute;
  top: -5%;
  left: 35%;
}
.hero-right img {
  margin-top: 100px;
}
.hero-right p {
  color: #4a556c80;
}

@media screen and (max-width: 768px) and (min-width: 230px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .hero-left,
  .hero-right {
    flex: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .hero-right-img {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }

  .hero-right img {
    width: 50%;
    margin-top: 0;
  }
}

/* Hero end */
/* Default styles */

.area-up {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  margin: 0 40px;
}

.area-up-left {
  flex: 1;
  padding-right: 20px;
  font-family: Kumbh Sans;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
}

.area-up-right {
  flex: 1;
  padding-left: 20px;
}

.area-down {
  display: flex;
  justify-content: center;
  height: 328px;
}

.area-down-card {
  width: 300px;
  padding: 20px;
}

/* Media queries for responsive layout */

@media only screen and (max-width: 768px) and (min-width: 230px) {
  .area-up {
    display: flex;
    flex-direction: column; /* Adjusts the direction to column */
  }

  .area-down {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjusts the grid to a single column */
    text-align: center; /* Centers the content */
  }
}

@media screen and (max-width: 912px) {
  .area-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 250px;
    text-align: center;
  }
}

.testimonials {
  background-color: #faf8f6;
}
.testimonials h2 {
  display: flex;
  justify-content: left;
  margin: 0;
  margin-left: 100px;
}
.testimonial {
  display: flex;
  justify-content: center;
  background-color: #faf8f6;
}
.testimonial-card {
  background-color: #ffffff;
  width: 300px;
  padding: 40px;
  margin: 10px;
  text-align: justify;
  margin: 10px;
  box-shadow: border-box;
}
.icon {
  margin-top: 10px;
}
.filled {
  color: gold;
}
@media screen and (max-width: 768px) and (min-width: 230px) {
  .testimonials h2 {
    display: flex;
    justify-content: left;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 912px) {
  .testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
/* testimonials part end */
/* blog part start */
.blog {
  width: 100%;
  margin: 0 auto;
}
.blog h2 {
  text-align: center;
}
.blog-button {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
}
.card {
  width: 360px;
  padding: 10px;
  text-align: justify;
  margin: 10px;
}
.card-text {
  padding: 25px;
}
@media screen and (max-width: 768px) and (min-width: 230px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 912px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
/* blog part end */
/* free guide start */
.free-guide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #faf8f6;
  border-radius: 5px;
  margin: 5%;
  width: Fixed (1, 440px);
  height: Hug (576px);
  top: 4101px;
  padding: 0px, 0px, 96px, 0px;
  gap: 64px;
}

.free-guide-left {
  flex: 1;
  padding: 20px;
}

.free-guide-right {
  flex: 1;
  padding: 20px;
}
.free-guide-right p {
  color: #4a556c80;
}
@media screen and (max-width: 768px) and (min-width: 230px) {
  .free-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .free-guide-right img {
    width: 100%;
    flex: 1;
    padding: 20px;
  }
}
@media screen and (max-width: 912px) {
  .free-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .free-guide-right img {
    width: 100%;
    flex: 1;
    padding: 20px;
  }
}
/* free guide end */
/* online-session start */
.online-session {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
  background-color: #faf8f6;
  border-radius: 5px;
  margin: 5%;
  width: Fixed (1, 440px);
  height: Hug (576px);
  top: 4101px;
  padding: 0px, 0px, 96px, 0px;
  gap: 64px;
}

.online-session-left {
  /* flex: 2; */
  /* padding: 12px; */
}
.online-session-left p {
  color: #4a556c80;
}

.online-session-right {
  /* flex: 2; */
  /* padding: 20px; */
}
.online-session-right img {
  width: 100%;
}
@media screen and (max-width: 768px) and (min-width: 230px) {
  .online-session {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* online-session end */
/* subscribe start */
.subscribe {
  display: flex;
  padding-left: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #faf8f6;
  justify-content: space-around;
  align-items: center;
  height: 180px;
}
input {
  padding: 7px;
  border: 1px solid lightslategray;
  border-radius: 5px;
}
.subs-left,
.subs-right {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}
@media screen and (max-width: 768px) and (min-width: 230px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
  }
  input {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 912px) {
}
/* subscribe end */
/* footer start */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.footer-down {
  display: flex;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-1 {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer-1 ul {
  list-style: none;
  padding: 0;
  color: #4a556c80;
}
.footer-1 p {
  color: #4a556c80;
}
p {
  color: #4a556c;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin-bottom: 10px;
  }
}
